In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = '../perso_projet/csv/' #à changer pour vous très surement 
assignee = pd.read_csv(path+'assignee.csv', sep = ",")
assignor = pd.read_csv(path+'assignor.csv', sep = ",")
assignment = pd.read_csv(path+'assignment.csv',sep = ",")
assignment_coveyance = pd.read_csv(path+'assignment_conveyance.csv', sep = ",")
documentid = pd.read_csv(path+'documentid.csv', sep = ",")

/Users/gregoirebellan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/gregoirebellan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (3,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
info_companies = pd.read_csv('./data/info_companies.csv')
info_patents = pd.read_csv('./data/info_patents.csv')

In [4]:
documentid_red = documentid[documentid.grant_doc_num.isin(info_patents.patent_number.astype(str).values)]
documentid_red = documentid_red.reset_index(drop=True)

In [5]:
documentid_red

,rf_id,title,lang,appno_doc_num,appno_date,appno_country,pgpub_doc_num,pgpub_date,pgpub_country,grant_doc_num,grant_date,grant_country
0,37910049,NaN,NaN,5651298.0,NaN,US,NaN,NaN,NaN,4023672,1977-05-17,US
1,37910546,ERGOMETRIC EXERCISER WITH FLUID-ACTUATED INDIC...,en,6032242.0,1979-04-20,US,NaN,NaN,NaN,4291872,1981-09-29,US
2,37910657,AUTOMATIC ALTERNATING MARKER SYSTEM,en,6156537.0,1980-06-05,US,NaN,NaN,NaN,4365672,1982-12-28,US
3,37910725,APPARATUS AND METHOD FOR LOW SENSITIVITY CORON...,en,6034228.0,1979-04-30,US,NaN,NaN,NaN,4245272,1981-01-13,US
4,37910898,PROCESS FOR THE PREPARATION OF PHOSPHORIC ESTE...,en,6088021.0,1979-10-25,US,NaN,NaN,NaN,4256672,1981-03-17,US
...,...,...,...,...,...,...,...,...,...,...,...,...
113070,514040930,MOUSETRAP,en,11067157,2005-02-25,US,2.006019e+10,2006-08-24,US,7231738,2007-06-19,US
113071,514040930,MOUSETRAP,en,10595596,2006-09-06,US,2.007002e+10,2007-01-25,US,7506471,2009-03-24,US
113072,514040930,MOUSETRAP,en,13216782,2011-08-24,US,2.011030e+10,2011-12-15,US,8397426,2013-03-19,US
113073,514040930,MOUSETRAP,en,12247023,2008-10-07,US,2.009025e+10,2009-10-08,US,8943741,2015-02-03,US
113074,514100232,THREE DIMENSIONAL INTEGRATED CIRCUITS,en,15893537,2018-02-09,US,2.018017e+10,2018-06-14,US,10447272,2019-10-15,US

In [19]:
# On cree ici la liste des rf_id qui correspondent aux patents que l'on observe
rf_id_list = np.unique(documentid_red.rf_id.values)

In [29]:
assignee_red = assignee[assignee.rf_id.isin(rf_id_list)].reset_index(drop=True)
assignor_red = assignor[assignor.rf_id.isin(rf_id_list)].reset_index(drop=True)
assignment_red = assignment[assignment.rf_id.isin(rf_id_list)].reset_index(drop=True)
assignment_coveyance_red = assignment_coveyance[assignment_coveyance.rf_id.isin(rf_id_list)].reset_index(drop=True)

In [33]:
assignee_red

,rf_id,ee_name,ee_address_1,ee_address_2,ee_city,ee_state,ee_postcode,ee_country
0,37910049,STOCK YARDS BANK & TRUST COMPANY A CORP.OF KY.,1040 EAST MAIN STREET P.O. BOX 32890,NaN,"LOUISVILLE,",KENTUCKY,40232,NaN
1,37910546,"EXCELSIOR FITNESS EQUIPMENT CO., A CORP. OF DE.","613 ACADEMY DRIVE,",NaN,"NORTHBROOK,",ILLINOIS,60062,NaN
2,37910657,"INTERNATIONAL HARVESTER COMPANY, A CORP. OF DEL.",401 NO. MICHIGAN AVE.,NaN,"CHICAGO,",ILLINOIS,60611,NaN
3,37910725,"EASTMAN KODAK COMPANY, A CORP. OF N. J.",NaN,NaN,"ROCHESTER,",NEW YORK,NaN,NaN
4,37910898,"MITSUI TOATSU CHEMICALS, INCORPORATED, A CORP....","NO. 2-5, KASUMIGASEKI 3-CHOME, CHIYODA-KU,",NaN,"TOKYO,",NaN,NaN,JAPAN
...,...,...,...,...,...,...,...,...
71056,514020282,"CREDIT SUISSE AG, CAYMAN ISLANDS BRANCH, AS CO...",ELEVEN MADISON AVENUE,NaN,NEW YORK,NEW YORK,10010,NaN
71057,514030352,"SMAYDA, ELLEN L",374 NOLF ROAD,NaN,NAZARETH,PENNSYLVANIA,18064,NaN
71058,514040833,"ANTARES CAPITAL LP, AS AGENT",500 WEST MONROE STREET,NaN,CHICAGO,ILLINOIS,60661,NaN
71059,514040930,RB (HYGIENE HOME) AUSTRALIA PTY LTD,LEVEL 47,680 GEORGE STREET,"SYDNEY, NEW SOUTH WALES",NaN,2000,AUSTRALIA
71060,514100232,"YAKIMISHU CO. LTD., L.L.C.",160 GREENTREE DRIVE,SUITE 101,DOVER,DELAWARE,19904,NaN

In [37]:
documentid_red.to_csv('./Data/documentid_red.csv',index=False)
assignee_red.to_csv('./Data/assignee_red.csv',index=False)
assignor_red.to_csv('./Data/assignor_red.csv',index=False)
assignment_red.to_csv('./Data/assignment_red.csv',index=False)
assignment_coveyance_red.to_csv('./Data/assignment_conveyance_red.csv',index=False)

In [7]:
# transactions_id_marked = []
# transactions_id = []
# for chunks in documentid:
#     for patent_numb in info_patents[info_patents.marked == 0]["patent_number"].unique():
#         if len(chunks[chunks.grant_doc_num == patent_numb]["rf_id"]):
#             transactions_id.append(chunks[chunks.grant_doc_num == str(patent_numb)]["rf_id"][0])
#     for patent_numb in info_patents[info_patents.marked == 1]["patent_number"].unique():
#         if len(chunks[chunks.grant_doc_num == patent_numb]["rf_id"]):
#             transactions_id_marked.append(chunks[chunks.grant_doc_num == str(patent_numb)]["rf_id"][0])
# len(transactions_id)

AttributeError: 'str' object has no attribute 'grant_doc_num'